version: '3.9'

services:
  api:
    build:
      context: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: peyjabankinn
      POSTGRES_USER: peyja
      POSTGRES_PASSWORD: peyja123
    volumes:
      - pgdata:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - api

volumes:
  pgdata:
