# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
venv/
env/
*.env

# Migrations (optional if you handle them in container)
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
