@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
body {
  font-family: system-ui, sans-serif;
}

/* Tailwind + custom class */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
